/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&kp ESC   &kp Q      &kp W      &kp E      &kp R     &kp T        &kp Y    &kp U     &kp I      &kp O      &kp P     &kp MINUS
&kp TAB   &kp A      &kp S      &kp D      &kp F     &kp G        &kp H    &kp J     &kp K      &kp L      &kp SEMI  &kp APOS
&kp CAPS  &kp Z      &kp X      &kp C      &kp V     &kp B        &kp N    &kp M     &kp COMMA  &kp DOT    &kp FSLH  &kp BSLH
                     &kp F2     &kp F5                                               &kp DEL    &kp C
          &kp SPACE  &kp LSHFT  &kp ENTER  &kp LALT  &kp LCTRL    &kp SQT  &kp LGUI  &kp BSPC   &kp SPACE  &kp ESC
            >;
        };

        layer_1 {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans       &trans
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &trans  &trans  &trans  &trans  &trans       &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans       &trans
                          &trans        &trans                                                      &trans  &trans
            &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &bootloader
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans       &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11      &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans       &trans
                &trans  &trans                                    &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &bootloader
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans                                    &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
